@model List<Proveedor>

<h1>Listado de Proveedor</h1>

<table class="table">
    <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>NumeroTelefonico</th>
        <th>Detalles</th>
        <th>Direccion</th>
        <th>Opciones</th>
    </tr>

    @foreach(var p in Model) {
        <tr>
            <td>@p.Id_Proveedor</td>
            <td>@p.Nombre</td>
            <td>@p.Correo</td>
            <td>@p.Numero_Telefonico</td>
            <td>@p.Detalles</td>
            <td>@p.Direccion</td>
            <td>
                <a href="~/proveedor/actualizar/@p.Id_Proveedor" 
                class="btn btn-primary a-btn-slide-text"><span class="glyphicon glyphicon-edit"></a> | 
                <a href="~/proveedor/eliminar/@p.Id_Proveedor" 
                class="btn btn-danger a-btn-slide-text"><span class="glyphicon glyphicon-remove"></a>
            </td>
        </tr>
    }
    

</table>
<a href="~/proveedor/registrar" 
class="btn btn-primary a-btn-slide-text">Nuevo Proveedor</a>