@model Factura
@{
    var clientes = (List<Cliente>)ViewBag.Cliente;
    var productos = (List<Producto>)ViewBag.Producto;
}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript">
    //Buscar Cliente
    function buscarCliente() {
        $(document).ready(function () {
            var Id_Cliente = $("#Id_Cliente").val().trim();
            $.ajax({
                type: "GET",
                url: '@Url.Action("buscarCliente","Factura")',
                data: { a: Id_Cliente },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
        });
            function successFunc(data) {
                document.getElementById("Id_Cliente1").value = data[0];
                document.getElementById("NombreCliente").value = data[1];
                document.getElementById("ApellidoCliente").value = data[2];
                document.getElementById("Correo").value = data[3];
                document.getElementById("Numero_Telefonico").value = data[4];
        }
        function errorFunc() {
        alert('error');
        }
        });
    }
    //-------
    //Buscar Producto
    function buscarProducto() {
        $(document).ready(function () {
            var Id_Producto = $("#Id_Producto").val().trim();
            $.ajax({
                type: "GET",
                url: '@Url.Action("buscarProducto","Factura")',
                data: { b: Id_Producto },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
        });
            function successFunc(data) {
                document.getElementById("Codigo").value = data[0];
                document.getElementById("NombreProducto").value = data[1];
                document.getElementById("Marca").value = data[2];
                document.getElementById("Categoria").value = data[3];
                document.getElementById("Precio").value = data[4];
        }
        function errorFunc() {
        alert('error');
        }
        });
    }
    //-------
    //Grid View
    var Codigos = new Array();
    var Nombres = new Array();
    var Cantidads = new Array();
    var preUs = new Array();
    var subTs = new Array();
    var count = new Array();
    var i = count.length;
    var total = 0;
    function productsAdd() {
        var total = 0;
        var codigo = document.getElementById("Codigo").value;
        var nombre = document.getElementById("NombreProducto").value;
        var cantidad = document.getElementById("Cantidad").value;
        var preU = document.getElementById("Precio").value;
        var subT = (preU * cantidad) / 1.0;
        subT = parseFloat(subT).toFixed(2);
        if(Codigos.indexOf(codigo)>=0){
            alert("Ya esta en la tabla. Tendra que actualizarlo. Indice numero: " + Codigos.indexOf(codigo));
        }
        else{
        Codigos.push(codigo);
        Nombres.push(nombre);
        Cantidads.push(cantidad);
        preUs.push(preU);
        subTs.push(subT);
        count.push(i);
        }
        $("#productTable tbody").remove();
        if ($("#productTable tbody").length == 0) {
            $("#productTable").append("<tbody></tbody>");
        }
        for (i = 0; i < count.length; i++) {
            // Append product to the table
            $("#productTable tbody").append(
                "<tr>" +
                "<td>" + i + "</td>" +
                "<td>" + Codigos[i] + "</td>" +
                "<td>" + Nombres[i] + "</td>" +
                "<td>" + Cantidads[i] + "</td>" +
                "<td>" + preUs[i] + "</td>" +
                "<td>" + subTs[i] + "</td>" +
                "<td>" + "<button type='button' " + "onclick='productDelete(this," + i + ")' " + "class='btn btn-default'>" + "Delete" + "</button>" +
                "</td>" +
                "</tr>"
            );
            total += subTs[i] * 1.0;
        }
        document.getElementById("Total").value = parseFloat(total);
        //document.getElementById("count").innerHTML = count[i];
    }
    //---------------
    //Eliminar de la Grilla
    function productDelete(ctl, id) {
        var total = 0;
        if (id == i) {
            var total = 0;
            $(ctl).parents("tr").remove();
            alert(id);
            count.splice(id);
            Codigos.splice(id);
            Nombres.splice(id);
            Cantidads.splice(id);
            preUs.splice(id);
            subTs.splice(id);
            $("#productTable tbody").remove();
            if ($("#productTable tbody").length == 0) {
                $("#productTable").append("<tbody></tbody>");
            }
            for (i = 0; i < count.length; i++) {
                // Append product to the table
                $("#productTable tbody").append(
                    "<tr>" +
                    "<td>" + i + "</td>" +
                    "<td>" + Codigos[i] + "</td>" +
                    "<td>" + Nombres[i] + "</td>" +
                    "<td>" + Cantidads[i] + "</td>" +
                    "<td>" + preUs[i] + "</td>" +
                    "<td>" + subTs[i] + "</td>" +
                    "<td>" + "<button type='button' " + "onclick='productDelete(this," + i + ")' " + "class='btn btn-default'>" + "Delete" + "</button>" +
                    "</td>" +
                    "</tr>"
                );
                total += subTs[i] * 1.0;
            }
        } else {
            var total = 0;
            var repcodigos = new Array();
            var repnombres = new Array();
            var repcantidads = new Array();
            var reppreUs = new Array();
            var repsubTs = new Array();
            var repcount = new Array();
            for (i = 0; i < count.length; i++) {
                if (i != id) {
                    repcount.push(i);
                    repcodigos.push(Codigos[i]);
                    repnombres.push(Nombres[i]);
                    repcantidads.push(Cantidads[i]);
                    reppreUs.push(preUs[i]);
                    repsubTs.push(subTs[i]);
                }
            }
            count = null;
            Codigos = null;
            Descripcions = null;
            Cantidads = null;
            preUs = null;
            subTs = null;
            count = repcount;
            Codigos = repcodigos;
            Nombres = repnombres;
            Cantidads = repcantidads;
            preUs = reppreUs;
            subTs = repsubTs;
            $("#productTable tbody").remove();
            if ($("#productTable tbody").length == 0) {
                $("#productTable").append("<tbody></tbody>");
            }
            for (i = 0; i < count.length; i++) {
                // Append product to the table
                $("#productTable tbody").append(
                    "<tr>" +
                    "<td>" + i + "</td>" +
                    "<td>" + Codigos[i] + "</td>" +
                    "<td>" + Nombres[i] + "</td>" +
                    "<td>" + Cantidads[i] + "</td>" +
                    "<td>" + preUs[i] + "</td>" +
                    "<td>" + subTs[i] + "</td>" +
                    "<td>" + "<button type='button' " + "onclick='productDelete(this," + i + ")' " + "class='btn btn-default'>" + "Delete" + "</button>" +
                    "</td>" +
                    "</tr>"
                );
                total += subTs[i] * 1.0;
            }
            //alert(repnombres);
        }
        document.getElementById("Total").value = parseFloat(total);
        //document.getElementById("count").innerHTML = count[i];
    }
    //-----------------
    //Registrar Grilla
    function registrar() {
        var rows = "";
        var fechaRealizada = document.getElementById("Fecha_Realizada").value;
        var codigoCliente = document.getElementById("Id_Cliente1").value;
        var Total = document.getElementById("Total").value;
        for (i = 0; i < count.length; i++){
            rows += Codigos[i] + "-" + Nombres[i] + "-" + Cantidads[i] + "-" + preUs[i] + "-" + subTs[i] + "-";
        }
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("registrarFactura", "Factura")',
                data: { row: rows, fchRealizada:fechaRealizada, codClnt: codigoCliente, total: Total},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });
            function successFunc(data) {
                alert(data);
            }
            function errorFunc() {
                alert("No Registrado");
            }
        });
    }
</script>
<h1>Registrar Factura</h1>
<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <label>Fecha Realizada:</label>
            <input type="date" class="form-control" id="Fecha_Realizada" >
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label>Cliente:</label>
            <select id="Id_Cliente">
                @foreach(var cliente in clientes){
                <option value="@cliente.Id_Cliente">@cliente.Nombre</option>
                }
            </select>
            <button class="btn btn-default" onclick="buscarCliente()">Buscar</button>
        </div>
        <h2>Cliente</h2>
        <input type="hidden" id="Id_Cliente1">
        <div class="form-group">
            <label>Nombre:</label>
            <input type="text" class="form-control" id="NombreCliente" disabled="true">
        </div>
        <div class="form-group">
            <label>Nombre:</label>
            <input type="text" class="form-control" id="ApellidoCliente" disabled="true">
        </div>
        <div class="form-group">
            <label>Correo:</label>
            <input type="text" class="form-control" id="Correo" disabled="true">
        </div>
        <div class="form-group">
            <label>Numero Telefonico:</label>
            <input type="text" class="form-control" id="Numero_Telefonico" disabled="true">
        </div>
    </div>
    <div class="col-lg-6">
    <div class="form-group">
        <label>Producto:</label>
        <select id="Id_Producto">
            @foreach(var producto in productos){
                <option value="@producto.Id_Producto">@producto.Nombre</option>
            }
        </select>
        <button class="btn btn-default" onclick="buscarProducto()">Buscar</button>
    </div>
        <h2>Producto</h2>
        <input type="hidden" id="Codigo">
        <div class="form-group">
            <label>Nombre:</label>
            <input type="text" class="form-control" id="NombreProducto" disabled="true">
        </div>
        <div class="form-group">
            <label>Marca:</label>
            <input type="text" class="form-control" id="Marca" disabled="true">
        </div>
        <div class="form-group">
            <label>Categoria:</label>
            <input type="text" class="form-control" id="Categoria" disabled="true">
        </div>
        <div class="form-group">
            <label>Precio:</label>
            <input type="text" class="form-control" id="Precio" disabled="true">
        </div>
        <div class="form-group">
            <label>Cantidad:</label>
            <input type="number" id="Cantidad" class="form-control" value="1" min="1" max="100" size="2" >
        </div>
        <button class="btn btn-default" type="button" onclick="productsAdd()">Agregar Material</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <!--GridView-->
        <div class="panel panel-default" align="center">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <table id="productTable" width="300" align="center" class="table">
                    <thead>
                        <tr>
                        <th></th>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Sub Total</th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
             </div>
        </div>
        <div class="left">
        <input type="text" id="Total" disabled="true">
    </div>
    <!--End GridView-->
    </div>
</div>
<button class="btn btn-default" onclick="registrar()">Registrar Factura</button>